@import "../styles/tokens.css";
@import "../styles/system.css";
@import '../styles/aladdin.css';

* {
  box-sizing: border-box;
}

html {
  color-scheme: light;
  touch-action: manipulation;
}

body {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

button,
input,
textarea,
select {
  font: inherit;
}
